/*score_text_student.css style sheet for advanced project 5 Javascript basics */

body {
  font-family: sans-serif;
}

#wrapper {
  width: 500px;
  background-color: #D2B48C;
  margin: 0 auto;
  border: 1px dashed #000;
}

#heading {
  background-image: url(images/wwwtri.jpg);
  background-position: top left;
  background-repeat: repeat-x;
  height: 70px;
  position: relative;
}

#heading h1 {
  color: #0c814a;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 200px;
}

#main {
  padding: .5em;
}

h2 {
  text-emphasis: center;
}